.table-cmp {
  &__header {
    background-color: rgba($color: #B9B9B9, $alpha: .2);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #25282B;
    font-weight: 700;
  }
  &__body {
    background-color: #FFFFFF;

  }
  &__row {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
  }
  &__col {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;

  }
  &--selectable {
    .table-cmp__row {
      .table-cmp__col {
        &:first-child {
          flex-basis: 50px;
          flex-grow: initial;
        }
      }
    }
  }
}
