<app-page-header
  [userName]="api.getProfile('name')"
  info="Bienvenido a tu Dashboard."></app-page-header>

<div class="page-wrapper animate__animated animate__fadeIn">

  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Prestadores: {{customers.length}}</h5>
          <div *ngFor="let customer of customers">
            <p>{{customer.name}}</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="box top-group active">
          <!-- <h5 class="fw-normal">Turnos  actuales</h5>
          <p>Periodo: 1 Octubre - Act.</p>
          <p class="mb-0" style="font-size: 1.2em;">15 Turnos</p> -->
        </div>
      </div>

      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Turnos anteriores</h5>

          <table class="table">
            <tbody>
              <!-- <tr>
                <td>Turnos  Agosto</td>
                <td>20 turnos</td>
              </tr>
              <tr>
                <td>Turnos  Septiembre</td>
                <td>17 turnos</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row align-items-stretch" style="height: 350px;">
      <div class="col">
        <div class="box h-100">
          <p>Usuarios por Profesión</p>

          <div class="tab-list">
            <!-- <div class="tab bg-primary text-white">
              <div class="row h-100 align-items-center">
                <div class="col">Tecnólogo</div>
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/svg/icon-user.svg" class="me-3" alt="icono usuario">
                    20
                  </div>
                </div>
              </div>
            </div> -->
          </div>

        </div>
      </div>
      <div class="col">
        <div class="box h-100 active">
          <p>Usuarios por ubicación</p>

          <div class="tab-list">
          <!--   <div class="tab bg-white text-primary">
              <div class="row h-100 align-items-center">
                <div class="col">Región Metropolitana</div>
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/svg/icon-pin.svg" class="me-3" alt="icono usuario">
                    20
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
